@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");




*{
    margin: 0;
    padding: 0;
    font-family:"Baloo Da 2";
}

header{
    width: 100%;
    height: 100vh; /* "hv" é usada pra redimencionar a imagen para que ela tenha o tamanho do monitor*/
    overflow: hidden; /*"overflow:hidden"impede que a janela crie barra de rolagem quando a janela é redimencionada*/
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(51, 46, 46);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* "object-fit: cover" impede que a imagem fique deformada quando a tela é redimencionada, lembrando que ela deve estar dentro de uma div pra funcionar "Bem util"*/
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute; /*permite posicionar elementos na tela, aqui foi usadi para posicionar os textos em cima do meu header, porém o header precisa estar com uma position:relative */
    top: 30%;
    left:15%;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: 'baloo Da 2',serif;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgb(49, 47, 47);
    margin-bottom: 2rem;
    animation: moveBannerX 2s;
}

.banner p{
    font-family: "Josefin Slab",serif;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight:200;
    text-shadow: .2rem .3rem 2px rgb(49, 47, 47);
    margin-bottom: 2rem;
    animation: moveBannerX 1.5s;

}

@keyframes moveBannerX{
    0%{
        transform: translateX(-40rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.banner button{
    font-family: "Mulish",serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    background: #000046;
    background: -webkit-linear-gradient(to left, #1CB5E0, #12748f); 
    background: linear-gradient(to left, #1CB5E0, #12748f); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBannerY 1s;
}

@keyframes moveBannerY{
    0%{
        transform: translateY(10rem)  rotateY(-100deg); 
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    opacity: 0.8;
    color: black;
}

