@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");




*{
    margin: 0;
    padding: 0;
    font-family:"Baloo Da 2";
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab",serif;
    --font-action: "Mulish",serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed; /*posiciona o menu lateral de forma fixa mesmo quando desço a tela*/
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{ /*todo elemento for descendente de um elemento que tenha show-menu recebe essa formatação*/
    right: 16rem;
}

.line{
    width: 100%;
    height: 0.1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.29rem, .35rem); /* movimenta as linhas do menu pra formar um X */
    }

.show-menu #line2{
    opacity: 0;
    visibility: hidden; /*deixa a visibilidade oculta*/
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.25rem, -.35rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    background-color: #1CB5E0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var("--font-action");
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #1CB5E0;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


header{
    width: 100%;
    height: 100vh; /* "hv" é usada pra redimencionar a imagen para que ela tenha o tamanho do monitor*/
    overflow: hidden; /*"overflow:hidden"impede que a janela crie barra de rolagem quando a janela é redimencionada*/
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(51, 46, 46);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* "object-fit: cover" impede que a imagem fique deformada quando a tela é redimencionada, lembrando que ela deve estar dentro de uma div pra funcionar "Bem util"*/
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute; /*permite posicionar elementos na tela, aqui foi usadi para posicionar os textos em cima do meu header, porém o header precisa estar com uma position:relative */
    top: 30%;
    left:15%;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-family: var (--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgb(49, 47, 47);
    margin-bottom: 2rem;
    animation: moveBannerX 2s;
}

.banner p{
    font-family: var(--font-secundary);
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight:200;
    text-shadow: .2rem .3rem 2px rgb(49, 47, 47);
    margin-bottom: 2rem;
    animation: moveBannerX 1.5s;

}

@keyframes moveBannerX{
    0%{
        transform: translateX(-40rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.banner button{
    font-family: var(--font-action);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    background: #000046;
    background: -webkit-linear-gradient(to left, #1CB5E0, #12748f); 
    background: linear-gradient(to left, #1CB5E0, #12748f); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBannerY 1s;
}

@keyframes moveBannerY{
    0%{
        transform: translateY(10rem)  rotateY(-100deg); 
        opacity: 0;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    opacity: 0.8;
    color: black;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); /* permite ajustar a posição do menu pra ficar mais centralizado no sidebar */
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    color: rgb(77, 77, 77);
    font-size: 2rem;
    transition: color .5s; /* permite suavisar a transição de cores feita pelo hover*/
}

.menu-link:hover{
    color: rgb(45, 161, 255);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* permitiu criar espaços entra os icones de redes sociais*/
}

.social-media i{
    color: #1788a7;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 3rem;
    display: flex;
    justify-content: center; /*foi usado pra alinha os icones na vertical dentro de seu espaço*/
    align-items: center; /*foi usado pra alinha os icones na horizontal dentro de seu espaço*/
    transition: color .5s;
}

.social-media i:hover{
    color: rgb(45, 161, 255);
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(6,6rem);
    row-gap: .5rem;
    }

.conhecimento:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2){
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5){
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}

.sessao-conhecimentos{
    background-color: rgb(221, 221, 221);
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: rgb(77, 77, 77);
    border-bottom: solid 3px #1CB5E0;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: #1CB5E0;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimento-img-wrapper{
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%; 
}